@{
    ViewBag.Title = "GeRenZhongXing";
    //Layout = "/Views/Home_Layout.cshtml";
    Layout = "/Views/GeRenZhongXing/gerenzhongxing_Layout.cshtml";
}
@*<link href="~/css/GenRenZhongXing/admin.css" rel="stylesheet" type="text/css" />
<link href="~/css/GenRenZhongXing/amazeui.css" rel="stylesheet" type="text/css" />
<link href="~/css/GenRenZhongXing/personal.css" rel="stylesheet" type="text/css" />*@
<link href="~/css/GenRenZhongXing/systyle.css" rel="stylesheet" type="text/css" />

<style>
    /* 我们给user_id这个加上一个背景颜色*/
    #user_id {
        background-color: orange;
    }
</style>

@* 得到用户 *@
@using B2CSystem.Models
@{UserInfo user = ViewBag.user as UserInfo;
  string img_str = ViewBag.img_str;
}

@*<body>*@

<div class="wrap-left">
    <div class="wrap-list">
        <div class="m-user">
            <!--个人信息 -->
            <div class="m-bg"></div>
            <div class="m-userinfo" id="user_id">
                <div class="m-baseinfo">
                    <a href="information.html">
                        <img src="@img_str">
                    </a>
                    <em class="s-name">@user.UserName<span class="vip1"></span></em>
                    <div class="s-prestige am-btn am-round">
                        会员福利
                    </div>
                </div>
                <div class="m-right">
                    <div class="m-new">
                        <a href="news.html"><i class="am-icon-bell-o"></i>消息</a>
                    </div>
                    <div class="m-address">
                        <a href="/GeRenZhongXing/address" class="i-trigger">我的收货地址</a>
                    </div>
                </div>
            </div>

            <!--个人资产-->
            <div class="m-userproperty">
                <div class="s-bar">
                    <i class="s-icon"></i>个人资产
                </div>
                <p class="m-bonus">
                    <a href="bonus.html">
                        <i>
                            <img src="images/bonus.png" /></i>
                        <span class="m-title">红包</span>
                        <em class="m-num">2</em>
                    </a>
                </p>
                <p class="m-coupon">
                    <a href="coupon.html">
                        <i>
                            <img src="images/coupon.png" /></i>
                        <span class="m-title">优惠券</span>
                        <em class="m-num">2</em>
                    </a>
                </p>
                <p class="m-bill">
                    <a href="bill.html">
                        <i>
                            <img src="~/IMG/GeRenZhongXing/wallet.png" /></i>
                        <span class="m-title">钱包</span>
                        <em class="m-num">2</em>
                    </a>
                </p>
                <p class="m-big">
                    <a href="#">
                        <i>
                            <img src="~/IMG/GeRenZhongXing/day-to.png" /></i>
                        <span class="m-title">签到有礼</span>
                    </a>
                </p>
                <p class="m-big">
                    <a href="#">
                        <i>
                            <img src="~/IMG/GeRenZhongXing/72h.png" /></i>
                        <span class="m-title">72小时发货</span>
                    </a>
                </p>
            </div>
        </div>
        <div class="box-container-bottom"></div>

        <!--订单 -->
        <div class="m-order">
            <div class="s-bar">
                <i class="s-icon"></i>我的订单
									<a class="i-load-more-item-shadow" href="order.html">全部订单</a>
            </div>
            <ul>
                <li><a href="order.html"><i>
                    <img src="~/IMG/GeRenZhongXing/pay.png" /></i><span>待付款</span></a></li>
                <li><a href="order.html"><i>
                    <img src="~/IMG/GeRenZhongXing/send.png" /></i><span>待发货<em class="m-num">1</em></span></a></li>
                <li><a href="order.html"><i>
                    <img src="~/IMG/GeRenZhongXing/receive.png" />
                </i><span>待收货</span></a></li>
                <li><a href="order.html"><i>
                    <img src="~/IMG/GeRenZhongXing/comment.png" /></i><span>待评价<em class="m-num">3</em></span></a></li>
                <li><a href="change.html"><i>
                    <img src="~/IMG/GeRenZhongXing/refund.png" /></i><span>退换货</span></a></li>
            </ul>
        </div>
        <!--九宫格-->
        <div class="user-patternIcon">
            <div class="s-bar">
                <i class="s-icon"></i>我的常用
            </div>
            <ul>

                <a href="home/shopcart.html">
                    <li class="am-u-sm-4"><i class="am-icon-shopping-basket am-icon-md"></i>
                        <img src="images/iconbig.png" /><p>购物车</p>
                    </li>
                </a>
                <a href="collection.html">
                    <li class="am-u-sm-4"><i class="am-icon-heart am-icon-md"></i>
                        <img src="images/iconsmall1.png" /><p>我的收藏</p>
                    </li>
                </a>
                <a href="home/home.html">
                    <li class="am-u-sm-4"><i class="am-icon-gift am-icon-md"></i>
                        <img src="images/iconsmall0.png" /><p>为你推荐</p>
                    </li>
                </a>
                <a href="comment.html">
                    <li class="am-u-sm-4"><i class="am-icon-pencil am-icon-md"></i>
                        <img src="images/iconsmall3.png" /><p>好评宝贝</p>
                    </li>
                </a>
                <a href="foot.html">
                    <li class="am-u-sm-4"><i class="am-icon-clock-o am-icon-md"></i>
                        <img src="images/iconsmall2.png" /><p>我的足迹</p>
                    </li>
                </a>
            </ul>
        </div>
        @using B2CSystem.DTO_models;
        @{ 
            List<DTO_OrderInfo_GoodsInfo> DTO_og = ViewBag.DTO_og as List<DTO_OrderInfo_GoodsInfo>;
        }
        <!--物流 -->
        <div class="m-logistics">

            <div class="s-bar">
                <i class="s-icon"></i>我的物流
            </div>
            <div class="s-content">
                <ul class="lg-list">
                    @foreach (DTO_OrderInfo_GoodsInfo item in DTO_og)
                    {
                        <li class="lg-item">
                            <div class="item-info">
                                <a href="#">
                                    <img src="@item.sp_img_str" alt="@item.sp_name">
                                </a>

                            </div>
                            <div class="lg-info">

                                <p>快件已从 义乌 发出</p>
                                <time>2015-12-20 17:58:05</time>

                                <div class="lg-detail-wrap">
                                    <a class="lg-detail i-tip-trigger" href="logistics.html">查看物流明细</a>
                                    <div class="J_TipsCon hide">
                                        <div class="s-tip-bar">中通快递&nbsp;&nbsp;&nbsp;&nbsp;运单号：373269427686</div>
                                        <div class="s-tip-content">
                                            <ul>
                                                <li>快件已从 义乌 发出2015-12-20 17:58:05</li>
                                                <li>义乌 的 义乌总部直发车 已揽件2015-12-20 17:54:49</li>
                                                <li class="s-omit"><a data-spm-anchor-id="a1z02.1.1998049142.3" target="_blank" href="#">··· 查看全部</a></li>
                                                <li>您的订单开始处理2015-12-20 08:13:48</li>

                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="lg-confirm">
                                <a class="i-btn-typical" href="#">确认收货</a>
                            </div>
                        </li>
                        <div class="clear"></div>
                    }

                </ul>

            </div>

        </div>

        <!--收藏夹 -->
        <div class="you-like">
            <div class="s-bar">
                我的收藏
									<a class="am-badge am-badge-danger am-round">降价</a>
                <a class="am-badge am-badge-danger am-round">下架</a>
                <a class="i-load-more-item-shadow" href="#"><i class="am-icon-refresh am-icon-fw"></i>换一组</a>
            </div>
            <div class="s-content">
                @{ 
                    List<DTO_CollectInfo_GoodsInfo_GoodsImgs> varlist = ViewBag.dto_list as List<DTO_CollectInfo_GoodsInfo_GoodsImgs>;
                }

                @foreach (DTO_CollectInfo_GoodsInfo_GoodsImgs item in varlist)
                {
                    <div class="s-item-wrap">
                        <div class="s-item">

                            <div class="s-pic">
                                <a href="~/XiangXi/XiangXi?sp_id=@item.sp_id" class="s-pic-link">
                                    <img src="@item.sp_img_str" alt="@item.sp_name" title="@item.sp_name" class="s-pic-img s-guess-item-img"  style="width:210px;height:210px;">
                                </a>
                            </div>
                            <div class="s-price-box">
                                <span class="s-price"><em class="s-price-sign">¥</em><em class="s-value">@item.price</em></span>
                                <span class="s-history-price"><em class="s-price-sign">¥</em><em class="s-value">@item.price</em></span>
                                <br />
                                <span>@item.sp_name</span>
                            </div>
                            <div class="s-title"><a href="#" title="@item.sp_name" >@item.sp_name</a></div>
                            <div class="s-extra-box">
                                @*                                            <span class="s-comment">好评: 98.03%</span>
                                            <span class="s-sales">月销: 219</span>*@

                            </div>
                        </div>
                    </div>
                }

            </div>

            <div class="s-more-btn i-load-more-item" data-screen="0"><i class="am-icon-refresh am-icon-fw"></i>更多</div>

        </div>

    </div>
</div>
<div class="wrap-right">

    @{
        string xingqi = ViewBag.xingqi;
        string str_time = ViewBag.str_time;
        int int_day = ViewBag.int_day;
    }

    <!-- 日历-->
    <div class="day-list">
        <div class="s-bar">
            <a class="i-history-trigger s-icon" href="#"></a>我的日历
								<a class="i-setting-trigger s-icon" href="#"></a>
        </div>
        <div class="s-care s-care-noweather">
            <div class="s-date">
                <em>@int_day</em>
                <span>@xingqi</span>
                <span>@str_time</span>
            </div>
        </div>
    </div>

    @{ 
        List<DTO_OrderInfo_GoodsInfo> DTO_is_new = ViewBag.DTO_is_new as List<DTO_OrderInfo_GoodsInfo>;
        List<DTO_OrderInfo_GoodsInfo> DTO_is_hot = ViewBag.DTO_is_hot as List<DTO_OrderInfo_GoodsInfo>;
                       
    }
    <!--新品 -->
    <div class="new-goods">
        <div class="s-bar">
            <i class="s-icon"></i>今日新品
								<a class="i-load-more-item-shadow">@DTO_is_new.Count
                                    款新品</a>
        </div>

        @for (int i = 0; i < 3; i++)
        {
            if (i < @DTO_is_new.Count)
            {
            <div class="new-goods-info">
                <a class="shop-info" href="~/XiangXi/XiangXi?sp_id=@DTO_is_new[i].id" target="_blank">
                    <div class="face-img-panel">
                        <img src="@DTO_is_new[i].sp_img_str" alt="">
                    </div>
                    <span class="new-goods-num ">@DTO_is_new[i].ku_cun</span>
                    <span class="shop-title">@DTO_is_new[i].sp_name</span>
                </a>
                <a class="follow " target="_blank">关注</a>
            </div>
            }
        }
    </div>

    <!--热卖推荐 -->
    <div class="new-goods">
        <div class="s-bar">
            <i class="s-icon"></i>热卖推荐
        </div>

        @for (int i = 0; i < 5; i++)
        {
            if (i < @DTO_is_hot.Count)
            {
            <div class="new-goods-info">
                <a class="shop-info" href="~/XiangXi/XiangXi?sp_id=@DTO_is_hot[i].id" target="_blank">
                    <div>
                        <img src="@DTO_is_hot[i].sp_img_str" alt="">
                    </div>
                    <span class="one-hot-goods">@DTO_is_hot[i].price</span>
                </a>
            </div>
            }
        }
    </div>

</div>


@*</body>*@
