@{
    ViewBag.Title = "XiangXi";
    Layout = "/Views/Home_Layout.cshtml";
}

<script src="~/js/layer/layer.js"></script>
<script src="~/js/jquery.fly.min.js"></script>
@*<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">*@
<script>
    $(function () {

        ///Cart/Confirm?goodsids=3&num=2
        $("#buy").click(function () {

            //获取商品编号 与 数量
            var goodsid = $(this).attr("text").valueOf();
            var num = $("#text_box").val();
            var user = "@Session["user"]";
            //如果当前没有用户登录 那么就提示先去登录
            if (user == null || user == "") {
                layer.open({
                    title: "温馨提示",
                    content: "您还没有登陆，请先登录...",
                    btn: ["确定"],
                    btn1: function () {
                        location.href = "/LoginAndRegister/Login?func=buy&goodsid=" + goodsid + "&num=" + num;
                    }
                })
            } else {
                location.href = "/Cart/Confirm?goodsids=" + goodsid + "&num=" + num;
            }
        })



        $(".ShouCang").click(function () {
            //得到要收藏的商品编号
            var id = $(this).attr("text").valueOf();
            //记录点击的那个标签
            var a = $(this).find("div").find("a");
            //           alert(a);
            $.post("../ShouCang/AddShouCang", { goodsId: id }, function (res) {
                if (res == "WeiDL") {
                    layer.open({
                        title: "温馨提示",
                        content: "您还没有登录，请先登录!",
                        btn: ["确定"],
                        btn1: function () {
                            location.href = "/LoginAndRegister/Login?func=shoucang&goodsid=" + id;
                        }
                    })
                } else if (res == "yes") {
                    //layer.open({
                    //    title: "温馨提示",
                    //    content: "收藏成功!",
                    //    btn: ["确定"],
                    //    btn1: function () {
                    //        layer.closeAll();
                    //    }
                    //})

                    //把当前点击的<a>收藏<a/>改为<a>已收藏</a>
                    $(a).parent().html(" <a id='YiShouCang' title='已收藏'><i></i>已收藏</a>");

                }

            })
        })
        //加入购物车操作
        $(".add_car").click(function () {
            //得到要加入的商品编号
            var goodsid = $(this).parent().attr("text").valueOf();
            //得到当前登陆的用户信息
            var user = "@Session["user"]";
            //如果当前没有用户登录 那么就提示先去登录
            if (user == null || user == "") {
                layer.open({
                    title: "温馨提示",
                    content: "您还没有登陆，请先登录...",
                    btn: ["确定"],
                    btn1: function () {
                        location.href = "/LoginAndRegister/Login?func=add_car&goodsid=" + goodsid;
                    }
                })
            } else {
                $.post("/Cart/Add_Car", { goodsid: goodsid }, function (res) {
                    if (parseInt(res) > 0) {
                        //说明添加成功 修改购物车商品的数量 重新查询一次
                        $.post("/Cart/getCarCount", function (result) {

                            $(".num").html(result);
                        })
                    } else {
                        layer.open({
                            title: "温馨提示",
                            content: "添加失败!",
                            btn: ["确定"],
                            btn1: function () {
                                layer.closeAll();
                            }
                        })
                    }
                })
            }
        })

    })


</script>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>商品页面</title>
    <link href="~/css/XiangXi/admin.css" rel="stylesheet" />
    <link href="~/css/XiangXi/amazeui.css" rel="stylesheet" />
    <link href="~/css/XiangXi/demo.css" rel="stylesheet" />
    <link href="~/css/XiangXi/optstyle.css" rel="stylesheet" />
    <link href="~/css/XiangXi/style.css" rel="stylesheet" />

    <script src="~/js/XiangXi/jquery.min.js"></script>

    <script src="~/js/XiangXi/amazeui.js"></script>
    <script src="~/js/XiangXi/jquery.flexslider.js"></script>
    <script src="~/js/XiangXi/jquery.imagezoom.min.js"></script>
    <script src="~/js/XiangXi/list.js"></script>
    <script src="~/js/XiangXi/quick_links.js"></script>

    @* 分页 *@
    @*    <script src="~/js/XiangXi/jqPaginator.js"></script>
    <link href="~/css/XiangXi/page.css" rel="stylesheet" />*@

</head>

<body>

    <div class="listMain">

        <div class="scoll">
            <section class="slider">
                <div class="flexslider">
                    <ul class="slides">
                        <li>
                            <img src="images/01.jpg" title="pic" />
                        </li>
                        <li>
                            <img src="images/02.jpg" />
                        </li>
                        <li>
                            <img src="images/03.jpg" />
                        </li>
                    </ul>
                </div>
            </section>
        </div>

        <!--放大镜-->

        <div class="item-inform">
            <div class="clearfixLeft" id="clearcontent">

                <div class="box">
                    <script type="text/javascript">
                        $(document).ready(function () {
                            $(".jqzoom").imagezoom();
                            $("#thumblist li a").click(function () {
                                $(this).parents("li").addClass("tb-selected").siblings().removeClass("tb-selected");
                                $(".jqzoom").attr('src', $(this).find("img").attr("mid"));
                                $(".jqzoom").attr('rel', $(this).find("img").attr("big"));
                            });
                        });
                    </script>
                    @{
                        List<string> sp_img_slist = ViewBag.sp_img_slist as List<string>;
                    }
                    <div class="tb-booth tb-pic tb-s310">
                        <a href="@sp_img_slist[0]">
                            <img src="@sp_img_slist[0]" alt="细节展示放大镜特效" rel="@sp_img_slist[0]" class="jqzoom" /></a>
                    </div>
                    <ul class="tb-thumb" id="thumblist">

                        @foreach (var item in sp_img_slist)
                        {
                            if (!string.IsNullOrEmpty(item))
                            {
                            <li class="tb-selected">
                                <div class="tb-pic tb-s40">
                                    <a href="#">
                                        <img src="@item" mid="@item" big="@item"></a>
                                </div>
                            </li>
                                              
                            }
                        }
                    </ul>
                </div>

                <div class="clear"></div>
            </div>
            @using B2CSystem.Models
            @{
                GoodsInfo goodsinfo = ViewBag.goodsinfo as GoodsInfo;
                List<pingjia> plist = ViewBag.plist as List<pingjia>;
                string sp_type = ViewBag.sp_type;
            }

            <div class="clearfixRight">

                <!--规格属性-->
                <!--名称-->
                <div class="tb-detail-hd">
                    <h1>@goodsinfo.GIName
                    </h1>
                </div>
                <div class="tb-detail-list">
                    <!--价格-->
                    <div class="tb-detail-price">
                        <li class="price iteminfo_price">
                            <dt>促销价</dt>
                            @{
                                B2CSystemEntities1 b2c1 = new B2CSystemEntities1();
                                //通过goodsid得到该商品的折扣
                                double? ZheKou = b2c1.Shangjia_X_GoodsInfo.Where(a => a.GoodsInfo_Id == goodsinfo.GoodsInfo_Id).FirstOrDefault().GIZheKou;
                                double? price = ZheKou * goodsinfo.GIPrice;
                            }
                            <dd><em>¥</em><b class="sys_item_price">@price</b>  </dd>
                        </li>
                        <li class="price iteminfo_mktprice">
                            <dt>原价</dt>
                            <dd><em>¥</em><b class="sys_item_mktprice">@goodsinfo.GIPrice</b></dd>
                        </li>
                        <div class="clear"></div>
                    </div>


                    <!--销量-->
                    <ul class="tm-ind-panel">
                        <li class="tm-ind-item tm-ind-sellCount canClick">
                            <div class="tm-indcon"><span class="tm-label">月销量</span><span class="tm-count">@goodsinfo.CIXiaoLiang</span></div>
                        </li>
                        <li class="tm-ind-item tm-ind-sumCount canClick">
                            <div class="tm-indcon"><span class="tm-label">累计销量</span><span class="tm-count">@goodsinfo.CIXiaoLiang</span></div>
                        </li>
                        <li class="tm-ind-item tm-ind-reviewCount canClick tm-line3">
                            <div class="tm-indcon"><span class="tm-label">累计评价</span><span class="tm-count">@plist.Count</span></div>
                        </li>
                    </ul>
                    <div class="clear"></div>

                    <!--各种规格-->
                    <dl class="iteminfo_parameter sys_item_specpara">
                        <dt class="theme-login">
                            <div class="cart-title">可选规格<span class="am-icon-angle-right"></span></div>
                        </dt>
                        <dd>
                            <!--操作页面-->
                            @goodsinfo.GIName @goodsinfo.GICPU
                            <br />
                            @goodsinfo.GINeiCun
                            <div class="theme-popover-mask"></div>

                            <div class="theme-popover">
                                <div class="theme-span"></div>
                                <div class="theme-poptit">
                                    <a href="javascript:;" title="关闭" class="close">×</a>
                                </div>
                                <div class="theme-popbod dform">
                                    <form class="theme-signin" name="loginform" action="" method="post">

                                        <div class="theme-signin-left">
                                            <div class="theme-options">
                                                <div class="cart-title number">数量</div>
                                                <dd>
                                                    <input id="min" class="am-btn am-btn-default" name="" type="button" value="-" />
                                                    <input id="text_box" name="" type="text" value="1" style="width: 30px;" />
                                                    <input id="add" class="am-btn am-btn-default" name="" type="button" value="+" />
                                                    <span id="Stock" class="tb-hidden">库存<span class="stock">@goodsinfo.GIKuCun</span>件</span>
                                                </dd>

                                            </div>
                                            <div class="clear"></div>

                                            <div class="btn-op">
                                                <div class="btn am-btn am-btn-warning">确认</div>
                                                <div class="btn close am-btn am-btn-warning">取消</div>
                                            </div>
                                        </div>
                                        <div class="theme-signin-right">
                                            <div class="img-info">
                                                <img src="images/songzi.jpg" />
                                            </div>
                                            <div class="text-info">
                                                <span class="J_Price price-now">¥39.00</span>
                                                <span id="Stock" class="tb-hidden">库存<span class="stock">1000</span>件</span>
                                            </div>
                                        </div>

                                    </form>
                                </div>
                            </div>

                        </dd>
                    </dl>

                </div>

                <div class="pay">
                    <div class="pay-opt">
                        <a href="home.html"><span class="am-icon-home am-icon-fw">首页</span></a>
                        <a><span class="am-icon-heart am-icon-fw">收藏</span></a>

                    </div>
                    <li>
                        <div class="clearfix tb-btn tb-btn-buy theme-login">
                            <a id="buy" title="点此按钮到下一步确认购买信息" text="@goodsinfo.GoodsInfo_Id">立即购买</a>
                        </div>
                    </li>
                    @{
                        UserInfo user = Session["user"] as UserInfo;
                        if (user != null)
                        {
                            int userid = user.UserInfo_Id;
                            int goodsid = goodsinfo.GoodsInfo_Id;
                            B2CSystemEntities1 b2c = new B2CSystemEntities1();
                            CollectInfo co = b2c.CollectInfo.Where(a => a.UserInfo_Id == userid && a.GoodsInfo_Id == goodsid).FirstOrDefault();
                            if (co != null)
                            {
                                //说明该用户已经收藏了该商品
                        <li>
                            <div class="clearfix tb-btn tb-btn-basket theme-login">
                                <a id="YiShouCang" title="已收藏"><i></i>已收藏</a>
                            </div>
                        </li>
                            }
                            else
                            {
                        <li class="ShouCang" text="@goodsinfo.GoodsInfo_Id">
                            <div class="clearfix tb-btn tb-btn-basket theme-login">
                                <a title="收藏"><i></i>收藏</a>
                            </div>
                        </li>
                            }
                        }
                        else
                        { 
                        <li class="ShouCang" text="@goodsinfo.GoodsInfo_Id">
                            <div class="clearfix tb-btn tb-btn-basket theme-login">
                                <a title="收藏"><i></i>收藏</a>
                            </div>
                        </li>
                        }
                    }
                    <li style="margin-left: 5px;">
                        <div class="clearfix tb-btn tb-btn-basket theme-login" text="@goodsinfo.GoodsInfo_Id">
                            <a id="LikBasket" title="加入购物车" class="add_car"><i></i>加入购物车</a>
                        </div>
                    </li>
                </div>

            </div>

            <div class="clear"></div>

        </div>



        <!-- introduce-->

        <div class="introduce">

            <div class="introduceMain">
                <div class="am-tabs" data-am-tabs>
                    <ul class="am-avg-sm-3 am-tabs-nav am-nav am-nav-tabs">
                        <li class="am-active">
                            <a href="#">

                                <span class="index-needs-dt-txt">宝贝详情</span></a>

                        </li>

                        <li>
                            <a href="#">

                                <span class="index-needs-dt-txt">全部评价</span></a>

                        </li>

                        <li>
                            <a href="#">

                                <span class="index-needs-dt-txt">猜你喜欢</span></a>
                        </li>
                    </ul>

                    <div class="am-tabs-bd">

                        <div class="am-tab-panel am-fade am-in am-active">
                            <div class="J_Brand">

                                <div class="attr-list-hd tm-clear">
                                    <h4>产品参数：</h4>
                                </div>
                                <div class="clear"></div>
                                <ul id="J_AttrUL">

                                    <li title="">产品类型:&nbsp;@sp_type</li>
                                    <li title="">产品名字:&nbsp;@goodsinfo.GIName</li>
                                    <li title="">产品型号:&nbsp;@goodsinfo.GIItem</li>
                                    <li title="">上市时间:&nbsp;@goodsinfo.GIShangShi</li>
                                    <li title="">cpu:&nbsp;@goodsinfo.GICPU</li>
                                    <li title="">内存:&nbsp;@goodsinfo.GINeiCun</li>
                                    <li title="">屏幕大小:&nbsp;@goodsinfo.GIPingMu</li>
                                    <li title="">产品标准号:&nbsp;GB/T 22165</li>
                                    <li title="">生产许可证编号：&nbsp;QS4201 1801 0226</li>
                                    <li title="">分辨率：&nbsp;@goodsinfo.GIFenBianLv</li>
                                    <li title="">电池容量：&nbsp;@goodsinfo.GIDianChi</li>
                                </ul>
                                <div class="clear"></div>
                            </div>

                            <div class="details">
                                <div class="attr-list-hd after-market-hd">
                                    <h4>商品细节</h4>
                                </div>
                                <div class="twlistNews">
                                    @foreach (var item in sp_img_slist)
                                    {
                                        if (!string.IsNullOrEmpty(item))
                                        {
                                        <img src="@item" />        
                                        }
                                    }
                                </div>
                            </div>
                            <div class="clear"></div>

                        </div>

                        <div class="am-tab-panel am-fade">

                            <div class="actor-new">
                                <div class="rate">
                                    <strong>100<span>%</span></strong><br>
                                    <span>好评度</span>
                                </div>
                                <dl>
                                    <dt>买家印象</dt>
                                    <dd class="p-bfc">
                                        <q class="comm-tags"><span>味道不错</span><em>(2177)</em></q>
                                        <q class="comm-tags"><span>颗粒饱满</span><em>(1860)</em></q>
                                        <q class="comm-tags"><span>口感好</span><em>(1823)</em></q>
                                        <q class="comm-tags"><span>商品不错</span><em>(1689)</em></q>
                                        <q class="comm-tags"><span>香脆可口</span><em>(1488)</em></q>
                                        <q class="comm-tags"><span>个个开口</span><em>(1392)</em></q>
                                        <q class="comm-tags"><span>价格便宜</span><em>(1119)</em></q>
                                        <q class="comm-tags"><span>特价买的</span><em>(865)</em></q>
                                        <q class="comm-tags"><span>皮很薄</span><em>(831)</em></q>
                                    </dd>
                                </dl>
                            </div>
                            <div class="clear"></div>
                            <div class="tb-r-filter-bar">
                                <ul class=" tb-taglist am-avg-sm-4">
                                    <li class="tb-taglist-li tb-taglist-li-current">
                                        <div class="comment-info">
                                            <span>全部评价</span>
                                            <span class="tb-tbcr-num">(32)</span>
                                        </div>
                                    </li>

                                    <li class="tb-taglist-li tb-taglist-li-1">
                                        <div class="comment-info">
                                            <span>好评</span>
                                            <span class="tb-tbcr-num">(32)</span>
                                        </div>
                                    </li>

                                    <li class="tb-taglist-li tb-taglist-li-0">
                                        <div class="comment-info">
                                            <span>中评</span>
                                            <span class="tb-tbcr-num">(32)</span>
                                        </div>
                                    </li>

                                    <li class="tb-taglist-li tb-taglist-li--1">
                                        <div class="comment-info">
                                            <span>差评</span>
                                            <span class="tb-tbcr-num">(32)</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="clear"></div>
                            @{
                                List<UserDetails> pj_imgs_str = ViewBag.pj_imgs_str as List<UserDetails>;
                            }
                            <ul class="am-comments-list am-comments-list-flip">
                                @for (int i = 0; i < plist.Count; i++)
                                {
                                    <li class="am-comment">
                                        <!-- 评论容器 -->
                                        <a href="">
                                            <img class="am-comment-avatar" src="@pj_imgs_str[i].UDImg" />
                                            <!-- 评论者头像 -->
                                        </a>

                                        <div class="am-comment-main">
                                            <!-- 评论内容容器 -->
                                            <header class="am-comment-hd">
                                                <!--<h3 class="am-comment-title">评论标题</h3>-->
                                                <div class="am-comment-meta">
                                                    <!-- 评论元数据 -->
                                                    <a href="#link-to-user" class="am-comment-author">@pj_imgs_str[i].UDName </a>
                                                    <!-- 评论者 -->
                                                    评论于
														<time datetime="">@plist[i].PJ_rtime</time>
                                                </div>
                                            </header>

                                            <div class="am-comment-bd">
                                                <div class="tb-rev-item " data-id="255776406962">
                                                    <div class="J_TbcRate_ReviewContent tb-tbcr-content ">
                                                        @plist[i].PJ_content
                                                    </div>
                                                    <div class="tb-r-act-bar">
                                                        产品分类：@sp_type;
                                                    </div>
                                                </div>

                                            </div>
                                            <!-- 评论内容 -->
                                        </div>
                                    </li>
                                }


                                <div class="clear"></div>

                                <!--分页 -->
                                @{    
                                    int pj_count_page = ViewBag.pj_count_page;
                                }
                                @*<script>
                                    $(function () {
                                        var pj_count =@pj_count_page
                                        //我们分页
                                        $.jqPaginator('#pagination1', {
                                            totalPages: 1,
                                            visiblePages: 5,
                                            currentPage: pj_count,
                                            first: '<li class="first"><a href="javascript:;">第一页</a></li>',
                                            prev: '<li class="prev"><a href="javascript:;">上一页</a></li>',
                                            next: '<li class="next"><a href="javascript:;">下一页</a></li>',
                                            last: '<li class="last"><a href="javascript:;">最好一页</a></li>',
                                            page: '<li class="page"><a href="javascript:;">{{page}}</a></li>',
                                            onPageChange: function (num, type) {
                                                if (type != "init") {

                                                }

                                            }
                                        });
                                    })
                                </script>*@
                                <!--分页 -->
                                <div>
                                    <ul class="pagination" id="pagination1"></ul>
                                </div>


                                <div class="tb-reviewsft">
                                    <div class="tb-rate-alert type-attention">购买前请查看该商品的 <a href="#" target="_blank">购物保障</a>，明确您的售后保障权益。</div>
                                </div>
                        </div>

                        <div class="am-tab-panel am-fade">
                            <div class="like">
                                <ul class="am-avg-sm-2 am-avg-md-3 am-avg-lg-4 boxes">
                                    @{List<GoodsInfo> hotgoodsinfo = ViewBag.hotgoodsinfo as List<GoodsInfo>;
                                      List<GoodsImgs> sphot_img_slist = ViewBag.sphot_img_slist as List<GoodsImgs>;
                                    }

                                    @for (int i = 0; i < hotgoodsinfo.Count; i++)
                                    {
                                        <li style="height: 265px; width: 234.5px;">
                                            <div class="i-pic limit">
                                                <a href="/XiangXi/XiangXi?sp_id=@hotgoodsinfo[i].GoodsInfo_Id">
                                                    <img src="@sphot_img_slist[i].GImgs_thumbone" style="width:214.5px;height:214.5px;" />
                                                </a>
                                                <p>
                                                    @hotgoodsinfo[i].GIName
                                                    <span>@hotgoodsinfo[i].GINeiCun</span>
                                                </p>
                                                <p class="price fl">

                                                    <strong>@hotgoodsinfo[i].GIPrice</strong>
                                                </p>
                                            </div>
                                        </li>
                                    }


                                </ul>
                            </div>

                            @*<div class="clear"></div>*@


                        </div>

                    </div>

                </div>


            </div>

        </div>
    </div>

</body>

@*</html>*@